<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Cookie Clicker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Favicon -->
        <!-- <link rel="shortcut icon" type="image/png" href="img/faviconHexagonCurve.png"/> -->
        <link rel="shortcut icon" type="image/png" href="img/faviconChevron.png"/>
    
        <!-- External CSS -->
        <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
        <link rel="stylesheet" type="text/css" href="css/cookieClicker.css">
    </head>
    
    <body>
        <nav class="topnav">
        	<a class="active" href="/2019aliu/">Home</a>
        	<a href="/2019aliu/statesGame" target="_blank">Mines</a>
        	<a href="/2019aliu/scrabbleSolver" target="_blank">Scrabble Solver</a>
        	<a href="/2019aliu/cookieClicker">Cookie Clicker</a>
        	<a href="https://tjtetris.sites.tjhsst.edu/" target="_blank">Tetris</a>
        	<a href="/2019aliu/about" target="_blank">About</a>
        	<a class="login" href="/2019aliu/loginPage">{{tjUser}}</a>
        </nav>

        <div class="title-line">
        	<h1 style="text-align: center" id="logo-text">Cookie Clicker</h1>
        </div>
        
        <div class="layoutDiv">
            <div class="upgradesTitle">
                <h3 style="text-align: center">Cookie-clicking Upgrades</h3>
            </div>
            
            <div class="upgrades ">
                <button class="tooltip" onclick="javascript:addUpgradeA()">
                    <span class="upgradeNumber" id="clickerNumber">{{userUpgradeA}}</span>
                    <span class="upgradeName">Clicker</span>
                    <span class="upgradeBoost">0.1 cookies</span>
                    <span class="tooltiptext" id="clickerDesc"><strong>Cost: 1 Cookie</strong><br>A clicker that generates a cookie every 10 seconds.</span>
                </button>
                
                <button class="tooltip" onclick="javascript:addUpgradeB()">
                    <span class="upgradeNumber" id="assistantNumber">{{userUpgradeB}}</span>
                    <span class="upgradeName">Cookie Assistant</span>
                    <span class="upgradeBoost">1 cookie</span>
                    <span class="tooltiptext" id="assistantDesc"><strong>Cost: 10 Cookies</strong><br>An assistant that prepares fresh cookie dough, increasing productivity.</span>
                </button>
                
                <button class="tooltip" onclick="javascript:addUpgradeC()">
                    <span class="upgradeNumber" id="bakeryNumber">{{userUpgradeC}}</span>
                    <span class="upgradeName">Bakery</span>
                    <span class="upgradeBoost">50 cookies</span>
                    <span class="tooltiptext" id="bakeryDesc"><strong>Cost: 800 Cookies</strong><br>More space for more cookies, employees, and customers.</span>
                </button>
                
                <button class="tooltip" onclick="javascript:addUpgradeD()">
                    <span class="upgradeNumber" id="factoryNumber">{{userUpgradeD}}</span>
                    <span class="upgradeName">Factory</span>
                    <span class="upgradeBoost">420 cookies</span>
                    <span class="tooltiptext" id="factoryDesc"><strong>Cost: 50000 Cookies</strong><br>Facilities that optimize processing of flour, milk, eggs, chocolate chips, and other ingredients.</span>
                </button>
                
                <button class="tooltip" onclick="javascript:addUpgradeE()">
                    <span class="upgradeNumber" id="tmNumber">{{userUpgradeE}}</span>
                    <span class="upgradeName">Time Machine</span>
                    <span class="upgradeBoost">10000 cookies</span>
                    <span class="tooltiptext" id="tmDesc"><strong>Cost: 101210 Cookies</strong><br>Travel into the cookieverse for the ultimate cookie-making machine.</span>
                </button>
            </div>
        </div>
        
        <div class="layoutDiv" id="mainDisplay">
            <div class="cookieDisplay">
                <h2 id="nameBakery">{{tjUser}}'s Bakery</h2>
            </div>
            
            <div class="cookieDisplay">
                <h3 id="userCookies">Number of cookies: {{userNumCookies}} cookies</h3>
            </div>
            
            <div class="cookieButtonDiv" id="cookieButtonDiv">
                <a class="cookieButton" href="javascript:addClick()">
                    <img src="img/cookieImage.png" alt="Cookie to click" style="width: 350px; height: 350px; border: 0;">
                </a>
            </div>
        </div>
        
        <div class="layoutDiv">
            <div>
                <h3 style="text-align: center">
                    Achievements coming soon (they come with benefits)!
                </h3>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript">
        
            var numCookies;
            
    		function addClick() {
    			$.ajax({
    				url: "https://user.tjhsst.edu/2019aliu/cookieClicker_addClick",
    				type: 'get',
    				data: {
    				    "cookies": 1,
    				    "click": 1
    				},
    				success: function(data){
    				    var userCookies = document.getElementById("userCookies");
    				    userCookies.innerText = data.cookieMsg;
    				    numCookies = data.cookies;
    					// print out data for reference (don't delete this -- useful for debugging!)
    				// 	console.log(data);
    				},
    				// },
    				error: function(stat, err){
    				    console.log("error in your code");
    				}
    			});
    		}
    		
    		var costs = {
    		    "upgradeA": 1,
    		    "upgradeB": 10,
    		    "upgradeC": 800,
    		    "upgradeD": 50000,
    		    "upgradeE": 101210
    		}
    		
    		function addUpgradeA() {
    		    if (numCookies < costs["upgradeA"]) {
    		        alert("You don't have enough cookies to buy this upgrade. Try clicking on the cookie and seeing what happens. You might also not have enough cookies.");
    		        return null;
    		    }
    		    else {
    		      //  console.log(numCookies);
    		        $.ajax({
        				url: "https://user.tjhsst.edu/2019aliu/cookieClicker_upgradeA",
        				type: 'get',
        				data: {
        				    "numUpgradeA": 1
        				},
        				success: function(data){
        				    var numClickers = document.getElementById("clickerNumber");
        				    numClickers.innerText = data.upgradeMsg;
        				    var userCookies = document.getElementById("userCookies");
        				    userCookies.innerText = data.cookieMsg;
        				    numCookies = data.cookies;
        					// print out data for reference (don't delete this -- useful for debugging!)
        				// 	console.log(data);
        				},
        				// },
        				error: function(stat, err){
        				    console.log("error in your code");
        				}
    			    });
                }
    		}
    		
    		function addUpgradeB() {
    		    if (numCookies < costs["upgradeB"]) {
    		        alert("You don't have enough cookies to buy this upgrade. Try clicking on the cookie and seeing what happens. You might also not have enough cookies.");
    		        return null;
    		    }
    		    else {
    		      //  console.log(numCookies);
    		        $.ajax({
        				url: "https://user.tjhsst.edu/2019aliu/cookieClicker_upgradeB",
        				type: 'get',
        				data: {
        				    "numUpgradeB": 1
        				},
        				success: function(data){
        				    var numAssistants = document.getElementById("assistantNumber");
        				    numAssistants.innerText = data.upgradeMsg;
        				    var userCookies = document.getElementById("userCookies");
        				    userCookies.innerText = data.cookieMsg;
        				    numCookies = data.cookies;
        					// print out data for reference (don't delete this -- useful for debugging!)
        				// 	console.log(data);
        				},
        				// },
        				error: function(stat, err){
        				    console.log("error in your code");
        				}
    			    });
                }
    		}
    		
    		function addUpgradeC() {
    		    if (numCookies < costs["upgradeC"]) {
    		        alert("You don't have enough cookies to buy this upgrade. Try clicking on the cookie and seeing what happens. You might also not have enough cookies.");
    		        return null;
    		    }
    		    else {
    		      //  console.log(numCookies);
    		        $.ajax({
        				url: "https://user.tjhsst.edu/2019aliu/cookieClicker_upgradeC",
        				type: 'get',
        				data: {
        				    "numUpgradeC": 1
        				},
        				success: function(data){
        				    var numBakery = document.getElementById("bakeryNumber");
        				    numBakery.innerText = data.upgradeMsg;
        				    var userCookies = document.getElementById("userCookies");
        				    userCookies.innerText = data.cookieMsg;
        				    numCookies = data.cookies;
        					// print out data for reference (don't delete this -- useful for debugging!)
        				// 	console.log(data);
        				},
        				// },
        				error: function(stat, err){
        				    console.log("error in your code");
        				}
    			    });
                }
    		}
    		
    		function addUpgradeD() {
    		    if (numCookies < costs["upgradeD"]) {
    		        alert("You don't have enough cookies to buy this upgrade. Try clicking on the cookie and seeing what happens. You might also not have enough cookies.");
    		        return null;
    		    }
    		    else {
    		      //  console.log(numCookies);
    		        $.ajax({
        				url: "https://user.tjhsst.edu/2019aliu/cookieClicker_upgradeD",
        				type: 'get',
        				data: {
        				    "numUpgradeD": 1
        				},
        				success: function(data){
        				    var numFactory = document.getElementById("factoryNumber");
        				    numFactory.innerText = data.upgradeMsg;
        				    var userCookies = document.getElementById("userCookies");
        				    userCookies.innerText = data.cookieMsg;
        				    numCookies = data.cookies;
        					// print out data for reference (don't delete this -- useful for debugging!)
        				// 	console.log(data);
        				},
        				// },
        				error: function(stat, err){
        				    console.log("error in your code");
        				}
    			    });
                }
    		}
    		
    		function addUpgradeE() {
    		    if (numCookies < costs["upgradeE"]) {
    		        alert("You don't have enough cookies to buy this upgrade. Try clicking on the cookie and seeing what happens. You might also not have enough cookies.");
    		        return null;
    		    }
    		    else {
    		      //  console.log(numCookies);
    		        $.ajax({
        				url: "https://user.tjhsst.edu/2019aliu/cookieClicker_upgradeE",
        				type: 'get',
        				data: {
        				    "numUpgradeE": 1
        				},
        				success: function(data){
        				    var numTM = document.getElementById("tmNumber");
        				    numTM.innerText = data.upgradeMsg;
        				    var userCookies = document.getElementById("userCookies");
        				    userCookies.innerText = data.cookieMsg;
        				    numCookies = data.cookies;
        					// print out data for reference (don't delete this -- useful for debugging!)
        				// 	console.log(data);
        				},
        				// },
        				error: function(stat, err){
        				    console.log("error in your code");
        				}
    			    });
                }
    		}
        </script>
    </body>
</html>
